{% block content %}
  <div class="container text-center">
    <div id="map" style="width:390px; height:400px; margin:0 auto;"></div>
  </div>
</div>

<script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=da146a2a6ff6a54903c1d2a7caecd1c7"></script>
<script>
  navigator.geolocation.getCurrentPosition((position)=>{
    const lat = position.coords.latitude;
    const lng = position.coords.longitude;


var container = document.getElementById('map');
var options = {
  center : new kakao.maps.LatLng(lat, lng),
  level : 6
};

var map = new kakao.maps.Map(container, options);

var markerPosition = new kakao.maps.LatLng(lat, lng); 

var marker = new kakao.maps.Marker({
    position: markerPosition});

    
marker.setMap(map);


$.ajax({
  url: '/map_data/',
  
  data: {
    'lat' : lat, 'lng' : lng
  },
  success: function(res) {
    for(var i = 0; i < res.length; i++) {

      (function(url) {
        var marker = new kakao.maps.Marker({
          map : map, // 마커를 표시할 지도
          position : new kakao.maps.LatLng(res[i].lat, res[i].lng),
          title : res[i].title
        });
        
        kakao.maps.event.addListener(marker, 'click', () => {
          window.open(url);
        });
          
      })(res[i].kakaourl);
      
    }    
  }
});
});
</script>
{% endblock %}